.filterBlock {
  width: 400px;
  padding: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 0 2px #a0a0a0;
}

.filterInput {  
  display: block;
  width: calc(100% - 14px);
  padding: 0 6px;
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.filterInput:focus {
  outline: none;
  border: 1px solid #3645ab;
}